<?xml version="1.0"?>
<!--
/**
 * MageOS
 *
 *
 * @category   MageOS
 * @package    MageOS_AdminActivityLog
 * @copyright  Copyright (C) 2018 Kiwi Commerce Ltd (https://kiwicommerce.co.uk/)
 * @copyright  Copyright (C) 2025 MageOS (https://mage-os.org/)
 * @license    https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MageOS_AdminActivityLog::activityConfig" title="Admin Activity Section" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::system">
                    <resource id="MageOS_AdminActivityLog::activity_head" title="Admin Activity" sortOrder="100" >
                        <resource id="MageOS_AdminActivityLog::activity" title="View" sortOrder="10">
                            <resource id="MageOS_AdminActivityLog::activity_revert" title="Revert Changes" sortOrder="10" />
                        </resource>
                        <resource id="MageOS_AdminActivityLog::login_activity" title="Login Activity" sortOrder="20" />
                        <resource id="MageOS_AdminActivityLog::configuration" title="Settings" sortOrder="40" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
