<?xml version="1.0"?>
<!--
/**
 * MageOS
 *
 * @category   MageOS
 * @package    MageOS_AdminActivityLog
 * @copyright  Copyright (C) 2018 Kiwi Commerce Ltd (https://kiwicommerce.co.uk/)
 * @copyright  Copyright (C) 2025 MageOS (https://mage-os.org/)
 * @license    https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Repository and service interfaces -->
    <preference for="MageOS\AdminActivityLog\Api\ActivityRepositoryInterface" type="MageOS\AdminActivityLog\Model\ActivityRepository" />
    <preference for="MageOS\AdminActivityLog\Api\LoginRepositoryInterface" type="MageOS\AdminActivityLog\Model\LoginRepository" />
    <preference for="MageOS\AdminActivityLog\Api\Data\ActivitySearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="MageOS\AdminActivityLog\Api\ModelResolverInterface" type="MageOS\AdminActivityLog\Model\ModelResolver" />
    <preference for="MageOS\AdminActivityLog\Api\FieldCheckerInterface" type="MageOS\AdminActivityLog\Model\FieldChecker" />

    <!-- Data interfaces -->
    <preference for="MageOS\AdminActivityLog\Api\Data\ActivityInterface" type="MageOS\AdminActivityLog\Model\Activity" />
    <preference for="MageOS\AdminActivityLog\Api\Data\ActivityLogInterface" type="MageOS\AdminActivityLog\Model\ActivityLog" />
    <preference for="MageOS\AdminActivityLog\Api\Data\ActivityLogDetailInterface" type="MageOS\AdminActivityLog\Model\ActivityLogDetail" />
    <preference for="MageOS\AdminActivityLog\Api\Data\LoginInterface" type="MageOS\AdminActivityLog\Model\Login" />

    <!-- Configuration service -->
    <preference for="MageOS\AdminActivityLog\Api\ActivityConfigInterface" type="MageOS\AdminActivityLog\Model\Config\ActivityConfig" />

    <!-- Allowed model classes for revert operations (security allowlist) -->
    <type name="MageOS\AdminActivityLog\Model\ModelResolver">
        <arguments>
            <argument name="allowedModelClasses" xsi:type="array">
                <!-- Catalog -->
                <item name="catalog_product" xsi:type="string">Magento\Catalog\Model\Product</item>
                <item name="catalog_product_action" xsi:type="string">Magento\Catalog\Model\Product\Action</item>
                <item name="catalog_category" xsi:type="string">Magento\Catalog\Model\Category</item>
                <item name="catalog_eav_attribute" xsi:type="string">Magento\Catalog\Model\ResourceModel\Eav\Attribute</item>
                <!-- Customer -->
                <item name="customer" xsi:type="string">Magento\Customer\Model\Customer</item>
                <item name="customer_address" xsi:type="string">Magento\Customer\Model\Address</item>
                <item name="customer_group" xsi:type="string">Magento\Customer\Model\Group</item>
                <item name="newsletter_subscriber" xsi:type="string">Magento\Newsletter\Model\Subscriber</item>
                <!-- CMS -->
                <item name="cms_page" xsi:type="string">Magento\Cms\Model\Page</item>
                <item name="cms_block" xsi:type="string">Magento\Cms\Model\Block</item>
                <item name="widget_instance" xsi:type="string">Magento\Widget\Model\Widget\Instance</item>
                <!-- Email -->
                <item name="email_template" xsi:type="string">Magento\Email\Model\Template</item>
                <item name="newsletter_template" xsi:type="string">Magento\Newsletter\Model\Template</item>
                <!-- Promotions -->
                <item name="catalog_rule" xsi:type="string">Magento\CatalogRule\Model\Rule</item>
                <item name="sales_rule" xsi:type="string">Magento\SalesRule\Model\Rule</item>
                <!-- Sales -->
                <item name="sales_order" xsi:type="string">Magento\Sales\Model\Order</item>
                <item name="sales_order_invoice" xsi:type="string">Magento\Sales\Model\Order\Invoice</item>
                <item name="sales_order_shipment" xsi:type="string">Magento\Sales\Model\Order\Shipment</item>
                <item name="sales_order_creditmemo" xsi:type="string">Magento\Sales\Model\Order\Creditmemo</item>
                <item name="sales_order_address" xsi:type="string">Magento\Sales\Model\Order\Address</item>
                <item name="sales_order_status" xsi:type="string">Magento\Sales\Model\Order\Status</item>
                <item name="sales_order_status_history" xsi:type="string">Magento\Sales\Model\Order\Status\History</item>
                <item name="sales_order_invoice_comment" xsi:type="string">Magento\Sales\Model\Order\Invoice\Comment</item>
                <item name="sales_order_shipment_comment" xsi:type="string">Magento\Sales\Model\Order\Shipment\Comment</item>
                <item name="sales_order_shipment_track" xsi:type="string">Magento\Sales\Model\Order\Shipment\Track</item>
                <item name="sales_order_creditmemo_comment" xsi:type="string">Magento\Sales\Model\Order\Creditmemo\Comment</item>
                <!-- Tax -->
                <item name="tax_rule" xsi:type="string">Magento\Tax\Model\Calculation\Rule</item>
                <item name="tax_rate" xsi:type="string">Magento\Tax\Model\Calculation\Rate</item>
                <!-- Review -->
                <item name="review" xsi:type="string">Magento\Review\Model\Review</item>
                <item name="review_rating" xsi:type="string">Magento\Review\Model\Rating</item>
                <!-- Store -->
                <item name="store" xsi:type="string">Magento\Store\Model\Store</item>
                <item name="store_website" xsi:type="string">Magento\Store\Model\Website</item>
                <item name="store_group" xsi:type="string">Magento\Store\Model\Group</item>
                <!-- SEO -->
                <item name="url_rewrite" xsi:type="string">Magento\UrlRewrite\Model\UrlRewrite</item>
                <item name="search_query" xsi:type="string">Magento\Search\Model\Query</item>
                <item name="search_synonym_group" xsi:type="string">Magento\Search\Model\SynonymGroup</item>
                <item name="sitemap" xsi:type="string">Magento\Sitemap\Model\Sitemap</item>
                <!-- EAV -->
                <item name="eav_attribute_set" xsi:type="string">Magento\Eav\Model\Entity\Attribute\Set</item>
                <!-- Admin -->
                <item name="admin_user" xsi:type="string">Magento\User\Model\User</item>
                <item name="admin_role" xsi:type="string">Magento\Authorization\Model\Role</item>
                <!-- Integration -->
                <item name="integration" xsi:type="string">Magento\Integration\Model\Integration</item>
                <!-- Checkout -->
                <item name="checkout_agreement" xsi:type="string">Magento\CheckoutAgreements\Model\Agreement</item>
            </argument>
        </arguments>
    </type>

    <!-- Protected fields configuration for activity logging -->
    <type name="MageOS\AdminActivityLog\Model\FieldChecker">
        <arguments>
            <argument name="protectedFields" xsi:type="array">
                <item name="password" xsi:type="string">password</item>
                <item name="password_hash" xsi:type="string">password_hash</item>
                <item name="rp_token" xsi:type="string">rp_token</item>
                <item name="rp_token_created_at" xsi:type="string">rp_token_created_at</item>
                <item name="cc_number" xsi:type="string">cc_number</item>
                <item name="cc_number_enc" xsi:type="string">cc_number_enc</item>
                <item name="cc_cid" xsi:type="string">cc_cid</item>
                <item name="cc_cid_enc" xsi:type="string">cc_cid_enc</item>
                <item name="cc_exp_month" xsi:type="string">cc_exp_month</item>
                <item name="cc_exp_year" xsi:type="string">cc_exp_year</item>
                <item name="cc_ss_issue" xsi:type="string">cc_ss_issue</item>
                <item name="cc_ss_start_month" xsi:type="string">cc_ss_start_month</item>
                <item name="cc_ss_start_year" xsi:type="string">cc_ss_start_year</item>
                <item name="cc_owner" xsi:type="string">cc_owner</item>
                <item name="cc_type" xsi:type="string">cc_type</item>
                <item name="echeck_account_name" xsi:type="string">echeck_account_name</item>
                <item name="echeck_account_type" xsi:type="string">echeck_account_type</item>
                <item name="echeck_bank_name" xsi:type="string">echeck_bank_name</item>
                <item name="echeck_routing_number" xsi:type="string">echeck_routing_number</item>
                <item name="api_key" xsi:type="string">api_key</item>
                <item name="api_secret" xsi:type="string">api_secret</item>
                <item name="secret_key" xsi:type="string">secret_key</item>
                <item name="private_key" xsi:type="string">private_key</item>
                <item name="access_token" xsi:type="string">access_token</item>
                <item name="refresh_token" xsi:type="string">refresh_token</item>
                <item name="session_id" xsi:type="string">session_id</item>
                <item name="form_key" xsi:type="string">form_key</item>
                <item name="secret" xsi:type="string">secret</item>
            </argument>
        </arguments>
    </type>

    <!-- Type for admin_activity_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="admin_activity_listing_data_source" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Grid\Activity\Collection</item>
                <item name="login_activity_listing_data_source" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Grid\Login\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MageOS\AdminActivityLog\Model\ResourceModel\Grid\Activity\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">admin_activity</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Activity</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageOS\AdminActivityLog\Model\ResourceModel\Grid\Login\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">admin_login_log</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Login</argument>
        </arguments>
    </virtualType>

    <virtualType name="AAConfigReader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">MageOS\AdminActivityLog\Model\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">MageOS\AdminActivityLog\Model\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">adminactivity.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/modules/module" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="MageOS\AdminActivityLog\Model\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">AAConfigReader</argument>
            <argument name="cacheId" xsi:type="string">MageOS_admin_activity_cache</argument>
        </arguments>
    </type>
</config>
