<?xml version="1.0"?>
<!--
/**
 * MageOS
 *
 * @category   MageOS
 * @package    MageOS_AdminActivityLog
 * @copyright  Copyright (C) 2018 Kiwi Commerce Ltd (https://kiwicommerce.co.uk/)
 * @copyright  Copyright (C) 2024 MageOS (https://mage-os.org/)
 * @license    https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Repository interfaces -->
    <preference for="MageOS\AdminActivityLog\Api\ActivityRepositoryInterface" type="MageOS\AdminActivityLog\Model\ActivityRepository" />
    <preference for="MageOS\AdminActivityLog\Api\LoginRepositoryInterface" type="MageOS\AdminActivityLog\Model\LoginRepository" />
    <preference for="MageOS\AdminActivityLog\Api\Data\ActivitySearchResultsInterface" type="Magento\Framework\Api\SearchResults" />
    <preference for="MageOS\AdminActivityLog\Api\ModelResolverInterface" type="MageOS\AdminActivityLog\Model\ModelResolver" />

    <!-- Type for admin_activity_listing_data_source -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="admin_activity_listing_data_source" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Grid\Activity\Collection</item>
                <item name="login_activity_listing_data_source" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Grid\Login\Collection</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="MageOS\AdminActivityLog\Model\ResourceModel\Grid\Activity\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">admin_activity</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Activity</argument>
        </arguments>
    </virtualType>

    <virtualType name="MageOS\AdminActivityLog\Model\ResourceModel\Grid\Login\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">admin_login_log</argument>
            <argument name="resourceModel" xsi:type="string">MageOS\AdminActivityLog\Model\ResourceModel\Login</argument>
        </arguments>
    </virtualType>

    <virtualType name="AAConfigReader" type="Magento\Framework\Config\Reader\Filesystem">
        <arguments>
            <argument name="converter" xsi:type="object">MageOS\AdminActivityLog\Model\Config\Converter</argument>
            <argument name="schemaLocator" xsi:type="object">MageOS\AdminActivityLog\Model\Config\SchemaLocator</argument>
            <argument name="fileName" xsi:type="string">adminactivity.xml</argument>
            <argument name="idAttributes" xsi:type="array">
                <item name="/config/modules/module" xsi:type="string">name</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="MageOS\AdminActivityLog\Model\Config\Data">
        <arguments>
            <argument name="reader" xsi:type="object">AAConfigReader</argument>
            <argument name="cacheId" xsi:type="string">MageOS_admin_activity_cache</argument>
        </arguments>
    </type>
</config>
