<?xml version="1.0"?>
<!--
/**
 * MageOS
 *
 *
 * @category   MageOS
 * @package    MageOS_AdminActivityLog
 * @copyright  Copyright (C) 2018 Kiwi Commerce Ltd (https://kiwicommerce.co.uk/)
 * @copyright  Copyright (C) 2025 MageOS (https://mage-os.org/)
 * @license    https://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageOS_AdminActivityLog::activity_head" title="Admin Activity" module="MageOS_AdminActivityLog" sortOrder="100" parent="Magento_Backend::system" resource="MageOS_AdminActivityLog::activity_head" />
        <add id="MageOS_AdminActivityLog::activity" title="Activity Log" module="MageOS_AdminActivityLog" sortOrder="10" parent="MageOS_AdminActivityLog::activity_head" action="adminactivity/activity" resource="MageOS_AdminActivityLog::activity" />
        <add id="MageOS_AdminActivityLog::login_activity" title="Login Log" module="MageOS_AdminActivityLog" sortOrder="20" parent="MageOS_AdminActivityLog::activity_head" action="adminactivity/login" resource="MageOS_AdminActivityLog::login_activity" />
    </menu>
</config>
